

// Variables
$primary-color: #2e4053;
$accent-color: #d35400;
$secondary-color: #5dade2;
$tertiary-color: #48c9b0;
$h1-font-size: 2.25rem;
$h2-font-size: 1.875rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;
$body-font-size: 1rem;
$caption-font-size: 0.875rem;
$default-color: #2E4053;
$active-color: #48C9B0;
$hover-color: #D35400;
$disabled-color: #549CCB;

// Mixin pour les boutons
@mixin button-styles($default-color, $border-radius: 3px) {
	
 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    padding: 10px;
    background-color: $default-color;
    border: none;
    border-radius: $border-radius;
   min-width: fit-content;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 3px rgba(46, 64, 83, 0.5);
    cursor: pointer;
    gap: 10px;
  
    /* .button-text {
      margin-right: 10px;
    } */
  
    &.hover-button:hover {
      background-color: $hover-color;
    }
  
    &.active-button:active {
      background-color: $active-color;
    }
  
    &.disabled-button {
      background-color: $disabled-color;
      cursor: not-allowed;
    }
  }



