@import 'variables_mixins';
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
:root {
  --primary-color: #2e4053;
  --accent-color: #d35400;
  --secondary-color: #5dade2;
  --tertiary-color: #48c9b0;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.875rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1.125rem;
  --h6-font-size: 1rem;
  --body-font-size: 1rem;
  --caption-font-size: 0.875rem;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  /* width: 100vw; */
  font-size: var(--body-font-size);
}
.caption {
  font-size: var(--caption-font-size);
  text-transform: uppercase;
}

.cta-button {
  background-color: var(--accent-color);
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: #2e4053;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 2px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #d35400;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #e0e2e5;
  border-radius: 2px;
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

main section {
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  flex: 1;
  min-width: 200px;
}

:focus {
  outline: 2px solid #cde6f6;
  outline-offset: 2px;
}
.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 1%;
  border: 1px solid #888;
  width: 100%;
  max-width: 400px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Your existing CSS here */

.password-placeholder {
  position: relative;
}

.password-placeholder i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#forgotPassword {
  display: block;
  text-align: right;
  margin-top: 10px;
  color: var(--accent-color);
  text-decoration: none;
}

#forgotPassword:hover {
  text-decoration: underline;
}
h2 {
  text-align: center;
}
.social-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.caption-container {
  position: relative;
}

.caption {
  font-size: var(--caption-font-size);
  text-transform: uppercase;
  visibility: hidden;
  width: 300px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;

  white-space: nowrap;
  width: 1px;
}

.caption-container:hover .caption {
  visibility: visible;
  opacity: 1;
}

.caption-container:hover .caption,
.caption-container:focus .caption,
.caption-container:focus-within .caption {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}
/* Add media queries for smaller screens */
@media screen and (max-width: 600px) {
  .modal-content {
    max-width: 90%;
    padding: 2%;
  }

  .caption {
    width: 250px;
    margin-left: -125px;
  }
}
.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
  width: 50%;
}

.remember-me label {
  flex-grow: 1;
}

/* Add media queries for even smaller screens */
@media screen and (max-width: 400px) {
  .caption {
    width: 200px;
    margin-left: -100px;
  }
}
